<%- include('../adminlayout/adminheader.ejs') %>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">Add Category</h3>
                </div>
                <div class="card-body">
                    <form method="POST" action="/admin/Categoryadd">
                        <div class="mb-3">
                            <label for="categoryName" class="form-label">Category Name:</label>
                            <input type="text" name="categoryName" id="categoryName" class="form-control" required>
                        </div>

                        <div class="mb-3">
                            <label for="subcategoryNames" class="form-label">Subcategories (comma-separated):</label>
                            <input type="text" name="subcategoryNames" id="subcategoryNames" class="form-control" required>
                        </div>

                        <button type="submit" class="btn btn-primary">Add Category</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../adminlayout/adminfooter.ejs') %>